@tailwind base;
@tailwind components;
@tailwind utilities;
/* html.dark {
  background-color: #000000;
}
html {
  background-color: #e6e6e6;
} */
@media only screen and (max-width: 640px) {
  .videoQuire {
    height: 355px;
  }
}
@media only screen and (max-width: 600px) {
  .videoQuire {
    height: 335px;
  }
}
@media only screen and (max-width: 550px) {
  .videoQuire {
    height: 305px;
  }
}
@media only screen and (max-width: 500px) {
  .videoQuire {
    height: 280px;
  }
}
@media only screen and (max-width: 450px) {
  .videoQuire {
    height: 255px;
  }
}
@media only screen and (max-width: 400px) {
  .videoQuire {
    height: 220px;
  }
}
@media only screen and (max-width: 350px) {
  .videoQuire {
    height: 186px;
  }
}
